<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" *ngIf="isMobile()">
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/home"
        routerLinkActive="active"
        (click)="sidenav.close()"
        >Home</a
      >
      <a
        mat-list-item
        routerLink="/menu"
        routerLinkActive="active"
        (click)="sidenav.close()"
        >Menu</a
      >
      <a
        mat-list-item
        routerLink="/cart"
        routerLinkActive="active"
        (click)="sidenav.close()"
        >Cart</a
      >

      <a
        *ngIf="!isLoggedIn"
        mat-list-item
        routerLink="/login"
        routerLinkActive="active"
        (click)="sidenav.close()"
        >Login</a
      >
      <a *ngIf="isLoggedIn" mat-list-item (click)="logout(); sidenav.close()"
        >Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="isMobile()">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="logo" routerLink="/home">Csaoo</span>
    </mat-toolbar>

    <mat-toolbar color="primary" *ngIf="!isMobile()">
      <span class="logo" routerLink="/home">Csaoo</span>
      <span class="spacer"></span>
      <nav class="navbar-links">
        <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-button routerLink="/menu" routerLinkActive="active">Menu</a>
        <a mat-button routerLink="/cart" routerLinkActive="active">Cart</a>

        <a
          *ngIf="!isLoggedIn"
          mat-button
          routerLink="/login"
          routerLinkActive="active"
          >Login</a
        >
        <a *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</a>
      </nav>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
