@use "@angular/material" as mat;

$primary-brown: #6d4c41; // Brown
$light-brown: #8d6e63; // Light Brown
$off-white: #f5f5f5; // Off-white
$hover-brown: #563b33; // Darker hover brown

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: $off-white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: color 0.4s ease, transform 0.3s ease, text-shadow 0.3s ease;
  position: relative;
  margin-left: 10px;

  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: $off-white;
    transition: width 0.4s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

.spacer {
  flex: 1 1 auto;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.sidenav-container {
  height: 100vh;
}

mat-toolbar {
  background-color: $primary-brown !important;
  color: $off-white !important;
}

mat-sidenav {
  background-color: $light-brown;
  color: $off-white;
}

mat-nav-list a {
  color: $off-white;
  text-decoration: none;
}

mat-nav-list a:hover {
  background-color: $hover-brown;
}

.active {
  font-weight: bold;
  background-color: $hover-brown;
}

:root {
  @include mat.button-overrides(
    (
      filled-container-color: white,
      filled-label-text-color: white,
    )
  );
}
