@use "@angular/material" as mat;

$primary-brown: #6d4c41; // Brown
$light-brown: #8d6e63; // Light Brown
$off-white: #f5f5f5; // Off-white
$hover-brown: #563b33; // Darker hover brown

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 10px;
  color: $off-white;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

a {
  height: 100%;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.sidenav-container {
  height: 100vh;
}

mat-toolbar {
  background-color: $light-brown !important;
  color: $off-white !important;
}

mat-sidenav {
  background-color: $light-brown;
  color: $off-white;
}

mat-nav-list a {
  color: $off-white;
  text-decoration: none;
}

mat-nav-list a:hover {
  background-color: $hover-brown;
}

.active {
  font-weight: bold;
  background-color: $primary-brown;
}

:root {
  @include mat.button-overrides(
    (
      filled-container-color: white,
      filled-label-text-color: white,
    )
  );
}
