<mat-card class="product-card">
  <div class="image-wrapper clickable" [routerLink]="['/product', product.id]">
    <img mat-card-image [src]="product.image" alt="{{ product.name }}" />
  </div>

  <mat-card-header [routerLink]="['/product', product.id]" class="clickable">
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content [routerLink]="['/product', product.id]" class="clickable">
    <p class="description single-line">{{ product.description }}</p>
    <p class="spicy-level">
      @if(product.spicyLevel){ 🌶️ Spiciness:
      <strong>{{ product.spicyLevel | spicy }}</strong>
      }
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="addProduct()">Add to Cart</button>
  </mat-card-actions>
</mat-card>
