<div class="register-container">
  <div class="left-side">
    <div class="branding">
      <img src="colorado_logo.jpg" alt="Logo" class="logo" />
      <h2>Embrace the Colorado Flavor</h2>
      <p>Flavor that feels like home.</p>
    </div>
  </div>

  <div class="right-side">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="register-form">
      <h2>Register</h2>

      <label>Email</label>
      <input type="email" name="email" [(ngModel)]="email" required />

      <label>Password</label>
      <input type="password" name="password" [(ngModel)]="password" required />

      <label>Confirm Password</label>
      <input
        type="password"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        required
      />

      <button type="submit">Register</button>
      <div class="hint" *ngIf="form.invalid || password !== confirmPassword">
        {{ getErrorMessage(form) }}
      </div>
      <p id="login">
        Already have an account?
        <span routerLink="/login" class="link">Login</span>
      </p>
    </form>
  </div>
</div>
